* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
  height: 100vh;
}

/* #map {
  /* height: 100vh; */
/* width: 100vw; */
/* } */

#container-div {
  display: flex;
  height: 100%;
}
#container-div #map {
  flex: 2;
}
#container-div #side-panel {
  flex: 1;
}
